In [5]:
import pandas as pd

#### Tek Boyutlu Veri Seri Kullanılır

In [6]:
seri1 = pd.Series(["Ali","Veli","Ayşe","Fatma"])
seri1

0      Ali
1     Veli
2     Ayşe
3    Fatma
dtype: object

In [7]:
seri2 = pd.Series([25,30,64,19])
seri2

0    25
1    30
2    64
3    19
dtype: int64

#### İki Boyutlu Veri için DataFrame Kullanılır

In [8]:
dfYas = pd.DataFrame({"İsim":seri1,"Yas":seri2})
dfYas

    İsim  Yas
0    Ali   25
1   Veli   30
2   Ayşe   64
3  Fatma   19

In [9]:
corona_veri = pd.read_csv("covid_19_clean_complete.csv")
corona_veri

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered
0,NaN,Afghanistan,33.000000,65.000000,1/22/20,0,0,0
1,NaN,Albania,41.153300,20.168300,1/22/20,0,0,0
2,NaN,Algeria,28.033900,1.659600,1/22/20,0,0,0
3,NaN,Andorra,42.506300,1.521800,1/22/20,0,0,0
4,NaN,Angola,-11.202700,17.873900,1/22/20,0,0,0
...,...,...,...,...,...,...,...,...
25671,Saint Pierre and Miquelon,France,46.885200,-56.315900,4/28/20,1,0,0
25672,NaN,South Sudan,6.877000,31.307000,4/28/20,34,0,0
25673,NaN,Western Sahara,24.215500,-12.885800,4/28/20,6,0,5
25674,NaN,Sao Tome and Principe,0.186360,6.613081,4/28/20,8,0,4
25675,NaN,Yemen,15.552727,48.516388,4/28/20,1,0,0

In [10]:
corona_veri.dtypes
#corona_veri.describe()

Province/State     object
Country/Region     object
Lat               float64
Long              float64
Date               object
Confirmed           int64
Deaths              int64
Recovered           int64
dtype: object

In [12]:
corona_veri.info()
corona_veri.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25676 entries, 0 to 25675
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  7840 non-null   object
 1   Country/Region  25676 non-null  object
 2   Lat             25676 non-null  float64
 3   Long            25676 non-null  float64
 4   Date            25676 non-null  object
 5   Confirmed       25676 non-null  int64
 6   Deaths          25676 non-null  int64
 7   Recovered       25676 non-null  int64
dtypes: float64(2), int64(3), object(3)
memory usage: 1.6+ MB

Province/State    17836
Country/Region        0
Lat                   0
Long                  0
Date                  0
Confirmed             0
Deaths                0
Recovered             0
dtype: int64

In [9]:
corona_veri.describe()

,Province/State,Latitude,Longitude,Confirmed,Recovered,Deaths,Tests
count,0.0,4.800000e+01,48.0000,48.000000,48.000000,48.000000,48.000000
mean,NaN,3.896370e+01,35.2433,37594.520833,5116.854167,860.854167,18934.750000
std,NaN,7.180619e-15,0.0000,39147.147040,8463.842470,955.645732,15165.308505
min,NaN,3.896370e+01,35.2433,1.000000,0.000000,0.000000,0.000000
25%,NaN,3.896370e+01,35.2433,1455.750000,0.000000,35.250000,3668.000000
50%,NaN,3.896370e+01,35.2433,22427.500000,635.000000,463.000000,19210.500000
75%,NaN,3.896370e+01,35.2433,70592.250000,6027.750000,1549.250000,34181.500000
max,NaN,3.896370e+01,35.2433,112261.000000,33791.000000,2900.000000,40962.000000

In [13]:
corona_veri.mean()

Province/State             NaN
Latitude             38.963700
Longitude            35.243300
Confirmed         37594.520833
Recovered          5116.854167
Deaths              860.854167
Tests             18934.750000
dtype: float64

In [14]:
corona_veri.sum()

Country/Region    TurkeyTurkeyTurkeyTurkeyTurkeyTurkeyTurkeyTurk...
Province/State                                                    0
Latitude                                                    1870.26
Longitude                                                   1691.68
Confirmed                                               1.80454e+06
Recovered                                                    245609
Deaths                                                        41321
Date              2020-03-112020-03-122020-03-132020-03-142020-0...
Tests                                                        908868
dtype: object

In [16]:
corona_veri.columns

Index(['Country/Region', 'Province/State', 'Latitude', 'Longitude',
       'Confirmed', 'Recovered', 'Deaths', 'Date', 'Tests'],
      dtype='object')

In [10]:
corona_veri.index

RangeIndex(start=0, stop=48, step=1)

* `head()`
* `tail()`
* `loc`
* `iloc`
* `columns` - `df['A']`
* boolean indexing - `df[df['A'] > 5]`
* `crosstab()`
* `.plot()`
* `hist()`

In [21]:
corona_veri.head(7) # boş kalırsa ilk 5 satır

,Country/Region,Province/State,Latitude,Longitude,Confirmed,Recovered,Deaths,Date,Tests
0,Turkey,NaN,38.9637,35.2433,1.0,0.0,0.0,2020-03-11,0
1,Turkey,NaN,38.9637,35.2433,1.0,0.0,0.0,2020-03-12,0
2,Turkey,NaN,38.9637,35.2433,5.0,0.0,0.0,2020-03-13,0
3,Turkey,NaN,38.9637,35.2433,5.0,0.0,0.0,2020-03-14,0
4,Turkey,NaN,38.9637,35.2433,6.0,0.0,0.0,2020-03-15,0
5,Turkey,NaN,38.9637,35.2433,18.0,0.0,0.0,2020-03-16,0
6,Turkey,NaN,38.9637,35.2433,47.0,0.0,1.0,2020-03-17,0

In [23]:
corona_veri.tail(7) # boş kalırsa son 5 satır

,Country/Region,Province/State,Latitude,Longitude,Confirmed,Recovered,Deaths,Date,Tests
41,Turkey,NaN,38.9637,35.2433,95591.0,14918.0,2259.0,2020-04-21,39429
42,Turkey,NaN,38.9637,35.2433,98674.0,16477.0,2376.0,2020-04-22,37535
43,Turkey,NaN,38.9637,35.2433,101790.0,18491.0,2491.0,2020-04-23,40962
44,Turkey,NaN,38.9637,35.2433,104912.0,21737.0,2600.0,2020-04-24,38351
45,Turkey,NaN,38.9637,35.2433,107773.0,25582.0,2706.0,2020-04-25,38308
46,Turkey,NaN,38.9637,35.2433,110130.0,29140.0,2805.0,2020-04-26,30177
47,Turkey,NaN,38.9637,35.2433,112261.0,33791.0,2900.0,2020-04-27,20143

#### loc (indexe göre referans alır) diğer iloc (pozisyona göre referans almak)

In [13]:
hayvanlar = pd.Series(["kedi","köpek","kuş","yılan","kuş","zürafa"],index=[0,3,9,8,3,2])
hayvanlar

0      kedi
3     köpek
9       kuş
8     yılan
3       kuş
2    zürafa
dtype: object

In [14]:
hayvanlar.loc[3]

3    köpek
3      kuş
dtype: object

In [15]:
hayvanlar.iloc[3]

'yılan'

In [15]:
hayvanlar.loc[:9]

0     kedi
3    köpek
9      kuş
dtype: object

In [38]:
corona_veri["Country/Region"].head()

0    Turkey
1    Turkey
2    Turkey
3    Turkey
4    Turkey
Name: Country/Region, dtype: object

In [39]:
corona_veri[corona_veri["Tests"] > 30000]

,Country/Region,Province/State,Latitude,Longitude,Confirmed,Recovered,Deaths,Date,Tests
30,Turkey,NaN,38.9637,35.2433,47029.0,2423.0,1006.0,2020-04-10,30864
31,Turkey,NaN,38.9637,35.2433,52167.0,2965.0,1101.0,2020-04-11,33170
32,Turkey,NaN,38.9637,35.2433,56956.0,3446.0,1198.0,2020-04-12,35720
33,Turkey,NaN,38.9637,35.2433,61049.0,3957.0,1296.0,2020-04-13,34456
34,Turkey,NaN,38.9637,35.2433,65111.0,4799.0,1403.0,2020-04-14,33070
35,Turkey,NaN,38.9637,35.2433,69392.0,5674.0,1518.0,2020-04-15,34090
36,Turkey,NaN,38.9637,35.2433,74193.0,7089.0,1643.0,2020-04-16,40427
37,Turkey,NaN,38.9637,35.2433,78546.0,8631.0,1769.0,2020-04-17,40270
38,Turkey,NaN,38.9637,35.2433,82329.0,10453.0,1890.0,2020-04-18,40520
39,Turkey,NaN,38.9637,35.2433,86306.0,11976.0,2017.0,2020-04-19,35344
40,Turkey,NaN,38.9637,35.2433,90980.0,13430.0,2140.0,2020-04-20,39703
41,Turkey,NaN,38.9637,35.2433,95591.0,14918.0,2259.0,2020-04-21,39429
42,Turkey,NaN,38.9637,35.2433,98674.0,16477.0,2376.0,2020-04-22,37535
43,Turkey,NaN,38.9637,35.2433,101790.0,18491.0,2491.0,2020-04-23,40962
44,Turkey,NaN,38.9637,35.2433,104912.0,21737.0,2600.0,2020-04-24,38351
45,Turkey,NaN,38.9637,35.2433,107773.0,25582.0,2706.0,2020-04-25,38308
46,Turkey,NaN,38.9637,35.2433,110130.0,29140.0,2805.0,2020-04-26,30177

In [41]:
corona_veri[corona_veri["Recovered"] == 0.0]

,Country/Region,Province/State,Latitude,Longitude,Confirmed,Recovered,Deaths,Date,Tests
0,Turkey,NaN,38.9637,35.2433,1.0,0.0,0.0,2020-03-11,0
1,Turkey,NaN,38.9637,35.2433,1.0,0.0,0.0,2020-03-12,0
2,Turkey,NaN,38.9637,35.2433,5.0,0.0,0.0,2020-03-13,0
3,Turkey,NaN,38.9637,35.2433,5.0,0.0,0.0,2020-03-14,0
4,Turkey,NaN,38.9637,35.2433,6.0,0.0,0.0,2020-03-15,0
5,Turkey,NaN,38.9637,35.2433,18.0,0.0,0.0,2020-03-16,0
6,Turkey,NaN,38.9637,35.2433,47.0,0.0,1.0,2020-03-17,0
7,Turkey,NaN,38.9637,35.2433,98.0,0.0,1.0,2020-03-18,0
8,Turkey,NaN,38.9637,35.2433,192.0,0.0,3.0,2020-03-19,1981
9,Turkey,NaN,38.9637,35.2433,359.0,0.0,4.0,2020-03-20,3656
10,Turkey,NaN,38.9637,35.2433,670.0,0.0,9.0,2020-03-21,2953
11,Turkey,NaN,38.9637,35.2433,1236.0,0.0,30.0,2020-03-22,1738
12,Turkey,NaN,38.9637,35.2433,1529.0,0.0,37.0,2020-03-23,3672
13,Turkey,NaN,38.9637,35.2433,1872.0,0.0,44.0,2020-03-24,3952

In [43]:
corona_veri[corona_veri["Deaths"] == 0.0]

,Country/Region,Province/State,Latitude,Longitude,Confirmed,Recovered,Deaths,Date,Tests
0,Turkey,NaN,38.9637,35.2433,1.0,0.0,0.0,2020-03-11,0
1,Turkey,NaN,38.9637,35.2433,1.0,0.0,0.0,2020-03-12,0
2,Turkey,NaN,38.9637,35.2433,5.0,0.0,0.0,2020-03-13,0
3,Turkey,NaN,38.9637,35.2433,5.0,0.0,0.0,2020-03-14,0
4,Turkey,NaN,38.9637,35.2433,6.0,0.0,0.0,2020-03-15,0
5,Turkey,NaN,38.9637,35.2433,18.0,0.0,0.0,2020-03-16,0

In [44]:
pd.crosstab(corona_veri["Confirmed"],corona_veri["Deaths"])

Deaths,0.0,1.0,3.0,4.0,9.0,30.0,37.0,44.0,59.0,75.0,...,1890.0,2017.0,2140.0,2259.0,2376.0,2491.0,2600.0,2706.0,2805.0,2900.0
Confirmed,,,,,,,,,,,,,,,,,,,,,
1.0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5.0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6.0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18.0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47.0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
98.0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
192.0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
359.0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
670.0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1236.0,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1529.0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1872.0,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2433.0,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3629.0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
5698.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7402.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9217.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10827.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13531.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15679.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18135.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20921.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23934.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27069.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30217.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34109.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38226.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42282.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47029.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
52167.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
56956.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61049.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
65111.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
69392.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
74193.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
78546.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
82329.0,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
86306.0,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
90980.0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
95591.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
98674.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
101790.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
104912.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
107773.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
110130.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
112261.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [20]:
corona_veri.groupby(["Tests"]).mean()

       Province/State  Latitude  Longitude   Confirmed  Recovered   Deaths
Tests
0                 NaN   38.9637    35.2433      22.625        0.0     0.25
1738              NaN   38.9637    35.2433    1236.000        0.0    30.00
1981              NaN   38.9637    35.2433     192.000        0.0     3.00
2953              NaN   38.9637    35.2433     670.000        0.0     9.00
3656              NaN   38.9637    35.2433     359.000        0.0     4.00
3672              NaN   38.9637    35.2433    1529.000        0.0    37.00
3952              NaN   38.9637    35.2433    1872.000        0.0    44.00
5035              NaN   38.9637    35.2433    2433.000       26.0    59.00
7286              NaN   38.9637    35.2433    3629.000       26.0    75.00
7533              NaN   38.9637    35.2433    5698.000       42.0    92.00
7641              NaN   38.9637    35.2433    7402.000       70.0   108.00
9982              NaN   38.9637    35.2433    9217.000      105.0   131.00
11535             NaN   38.9637    35.2433   10827.000      162.0   168.00
14396             NaN   38.9637    35.2433   15679.000      333.0   277.00
15422             NaN   38.9637    35.2433   13531.000      243.0   214.00
16160             NaN   38.9637    35.2433   20921.000      484.0   425.00
18757             NaN   38.9637    35.2433   18135.000      415.0   356.00
19664             NaN   38.9637    35.2433   23934.000      786.0   501.00
20023             NaN   38.9637    35.2433   34109.000     1582.0   725.00
20065             NaN   38.9637    35.2433   27069.000     1042.0   574.00
20143             NaN   38.9637    35.2433  112261.000    33791.0  2900.00
21400             NaN   38.9637    35.2433   30217.000     1326.0   649.00
24900             NaN   38.9637    35.2433   38226.000     1846.0   812.00
28578             NaN   38.9637    35.2433   42282.000     2142.0   908.00
30177             NaN   38.9637    35.2433  110130.000    29140.0  2805.00
30864             NaN   38.9637    35.2433   47029.000     2423.0  1006.00
33070             NaN   38.9637    35.2433   65111.000     4799.0  1403.00
33170             NaN   38.9637    35.2433   52167.000     2965.0  1101.00
34090             NaN   38.9637    35.2433   69392.000     5674.0  1518.00
34456             NaN   38.9637    35.2433   61049.000     3957.0  1296.00
35344             NaN   38.9637    35.2433   86306.000    11976.0  2017.00
35720             NaN   38.9637    35.2433   56956.000     3446.0  1198.00
37535             NaN   38.9637    35.2433   98674.000    16477.0  2376.00
38308             NaN   38.9637    35.2433  107773.000    25582.0  2706.00
38351             NaN   38.9637    35.2433  104912.000    21737.0  2600.00
39429             NaN   38.9637    35.2433   95591.000    14918.0  2259.00
39703             NaN   38.9637    35.2433   90980.000    13430.0  2140.00
40270             NaN   38.9637    35.2433   78546.000     8631.0  1769.00
40427             NaN   38.9637    35.2433   74193.000     7089.0  1643.00
40520             NaN   38.9637    35.2433   82329.000    10453.0  1890.00
40962             NaN   38.9637    35.2433  101790.000    18491.0  2491.00